// color palette
$primary-color: #0B132B;
$secondary-color: #1C2541;
$accent-set-color: #5BC0BE;

// font-sizes
$base-font-size: 1rem;
$font-size-large: 1.5rem;

// padding
$xs-padding: .25rem;
$small-padding: .5rem;
$base-padding: .75rem;
$large-padding: 1rem;
$xl-padding: 2rem;

// margins
